<%
  var dataSeo = site.data.seo.index;
%>

<nav class="nav-full">
    <h2 class="none"><%= dataSeo.nav %></h2>
    <div class="semantic" itemprop="headline">

        <div class="logo">
            <a href="<%- url_for() %>" title="<%= theme.site_name %>">
                <%- partial('_partial/image/images', {
                    title: site.data.images.images_content.logo.title,
                    path: site.data.images.images_content.logo.path,
                    dataImage: site.data.images.images_content.logo.image,
                    classImage: site.data.images.images_content.logo.classImage
                }) %>
            </a>
        </div>

        <div class="menu">
            <div id="icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>
</nav>