<%
    var menu = site.data.menuAll;
    var social = site.data.social;
 %>

<div class="overlay">
    <div class="nav-side__container">
        <nav class="nav-side__content">
            <h2 class="none">Side Navigation</h2>
            <div class="icon-menu-close" id="icon-menu-close">
                <span></span>
                <span></span>
            </div>
            <ul id="ul-nav__side">
                <% for (var i in menu){ %>
                    <% if (!menu[i].hidden){ %>
                    <li>
                        <a id="link-<%= menu[i].slug %>" class="nav-link" title="<%= menu[i].text %>">
                            <span class="text_side font-medium"><%= menu[i].text %></span>
                            <span class="text_icon"></span>
                        </a>
                    </li>
                    <% } %>
                <% } %>
            </ul>
            <p class="font-light nav_text">Prelúdio Cafés especiais, cafés gourmet, utensílios, cursos e tudo que você precisa para preparar seu café nos mais variados métodos.</p>
            <div class="socia-media-menu">
                <ul>
                    <% for (var s in social) { %>
                        <li><a href="<%= social[s].link %>" class="fa fa-<%= social[s].slug %>" title="<%= social[s].title %>" target="_blank"></a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </div>
</div>