<% var dataMenu = site.data.menuAll; %>
<body>
    <h1 class="none">Café Prelúdio</h1>
    <%- partial('_partial/nav/nav-side', {dataMenu: dataMenu}) %>
    <%- partial('_partial/header') %>
    <div id="main">        
        <%- partial('_partial/content/subbanner') %>
        <%- partial('_partial/content/storeparallax') %>
        <%- partial('_partial/content/store') %>
        <%- partial('_partial/content/aboutparallax') %>
        <%- partial('_partial/content/about') %>
        <%- partial('_partial/content/contactparallax') %>
        <%- partial('_partial/contact/contact') %>
        <%- partial('_partial/nav/icon-top') %>
    </div>
    <%- partial('_partial/footer') %>    
    <script>
        var token = '<%= theme.apiKey %>'
    </script>
    
    <%
    var scripts = [];
    if (site.data.files.path_js) {
        var fileJs = site.data.files.filesTest === true ? site.data.files.path_js : site.data.files.path_js_all;
        var asyncActive = site.data.files.filesTest === true ? '' : '';
        for (var i in fileJs) {
            scripts += '<script src="' + fileJs[i].path + '.js" ' + asyncActive + '></script>';
        }
    }
    %>
    <%- scripts %>
</body>