<footer id="footer" itemscope itemtype="http://schema.org/WPFooter">
    <div class="footer-box">
        <p class="font-light">
            Nosso clube de assinatura do café, o Prelúdio Box, foi especialmente desenvolvido para consumidores que buscam praticidade e gostam de ser surpreendidos com novidades, clique <a href="https://loja.preludiocafe.com.br/pagina/preludio-box" target="_blank" title="Clube de assinatura Café">AQUI</a> para conferir e receber cafés especiais todos os meses.
        </p>
        <a href="https://dotfolio.com.br/" target="_blank" title="Site e sistema 100% serverless! Projeto, desing e desenvolvimento DotFolio." class="link">
            <img src="images/logo_dotfolio.png" alt="Dotfolio" title="Site e sistema 100% serverless! Projeto, desing e desenvolvimento DotFolio.">
        </a>
    </div>
</footer>