<%
  var dataSeo = site.data.seo.index;
  var dataDefault = site.data.seo.default;
  var styleFiles = [];
  if (site.data.files.path_style) {
    var fileCss = site.data.files.path_style;
      for (var i in fileCss) {
        styleFiles += '<link rel="stylesheet" type="text/css" href="' + fileCss[i].path + '.css">';
      }
  }
%>

<head>
  <meta charset="utf-8">  
  <title><%= dataSeo.title %></title>

  <link rel="icon" href="<%= theme.favicon %>" sizes="16x16" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="<%= dataSeo.description %>">
  <meta name="keywords" content="<%= dataSeo.keywords %>">
  <meta http-equiv="Content-Language" content="pt-br">

  <!--Facebook-->
  <meta property="og:title" content="<%= dataSeo.title %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= dataSeo.url %>"/>
  <meta property="og:image" content="<%= dataDefault.image %>"/>
  <meta property="og:image:width" content="<%= dataDefault.width_image %>"/>
  <meta property="og:image:height" content="<%= dataDefault.height_image %>"/>
  <meta property="og:site_name" content="<%= dataDefault.site_name %>"/>
  <meta property="og:description" content="<%= dataSeo.description %>"/>

  <!--Twitter-->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="<%= dataSeo.title %>"/>
  <meta name="twitter:image" content="<%= dataDefault.image %>"/>
  <meta name="twitter:url" content="<%= dataSeo.url %>"/>

  <!-- Theme Color -->
  <meta name="theme-color" content="<% dataDefault.color_theme%>"/>

  <!-- Style -->
  <%- styleFiles %>  
</head>


