<header itemscope itemtype="http://schema.org/WPHeader" id="header">
    <%- partial('_partial/nav/nav-full') %>

    <div class="title-header">
        <h2 class="font-medium">O melhor do seu</h2>
        <h3 class="font-mocha">Café</h3>
    </div>
</header>