<!-- MAIN SLIDES -->
<div class="slider">
    <div data-index="1">1.1</div>
    <div data-index="2">2.1</div>
    <div data-index="3">3.1</div>
    <div data-index="4">4.1</div>
    <div data-index="5">5.1</div>
</div>
<!-- THUMBNAILS -->
<div class="slider-nav-thumbnails">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
</div>