<% var social = site.data.social; %>
<ul class="list-social">
    <% for (var i in social) { %>
    <li class="social-item social-<%- social[i].slug %>">
        <a href="<%-social[i].link%>" title="<%-social[i].title%>"  class="img" target="_blank"><%-social[i].title%></a>
    </li>
    <% } %>
</ul>