// Config
support-for-ie = false;
vendor-prefixes = webkit moz ms official;
// Colors
color-black = #000000;
color-black-opacity = rgba(0, 0, 0, 0.8);
color-white = #FFFFFF;
color-white-opacity = rgba(255, 255, 255, 0.8);
color-white2 = #F5F5F5;
color-grey = #3F3F3F;
color-grey2 = #3C3734;
color-grey3 = #808080;
color-grey4 = #464646;
color-brown = #D38139;
color-brown2 = #BF834F;
color-brown3 = #3D2F29;
// Fonts
font-icon = FontAwesome;
font-icon-path = '../fonts/fontawesome-webfont';
font-default = 'DINCond', sans-serif;
font-mocha = 'Mocha Mattari', sans-serif;
font-mocha-path = '../fonts/font-type/hinted-MochaMattari';
font-dincond-path = '../fonts/font-type/hinted-DINCond-';
font-icon-version = '4.0.3';
font-size = 14px;
line-height = 1.6em;
line-height-title = 1.1em;
// Header
logo-size = 40px;
subtitle-size = 16px;
banner-height = 300px;
// Nav Full
header-nav-height = 114px;
header-nav-height-mobile = 114px;
// Layout
block-margin = 50px;
article-padding = 20px;
mobile-nav-width = 280px;
main-column = 9;
sidebar-column = 3;

if (sidebar && (sidebar != bottom)) {
  _sidebar-column = sidebar-column;
} else {
  _sidebar-column = 0;
}

// Grids
column-width = 80px;
gutter-width = 20px;
columns = main-column + _sidebar-column;
// Media queries
mq-min768 = 'screen and (min-width: 768px)';
mq-max767 = 'screen and (max-width: 767px)';
mq-min768max1024 = 'screen and (min-width: 768px) and (max-width: 1024px)';
mq-min1025 = 'screen and (min-width: 1025px)';
mq-max1024 = 'screen and (max-width: 1024px)';
mq-min1280 = 'screen and (min-width: 1280px)';
mq-max1279 = 'screen and (max-width: 1279px)';
mq-min1155 = 'screen and (min-width: 1155px)';
mq-max1154 = 'screen and (max-width: 1154px)';
mq-min1100max1279 = 'screen and (min-width: 1100px) and (max-width: 1279px)';
mq-max1099 = 'screen and (max-width: 1099px)';
mq-min1025max1199 = 'screen and (min-width: 1025px) and (max-width: 1199px)';
mq-max1199 = 'screen and (max-width: 1199px)';
mq-min1200 = 'screen and (min-width: 1200px)';
// IMAGES
imagepath = '../images';
sprites = '../images/sprite.svg';
// sprites = "../images/sprite.png"
spritesWebP = '../images/sprite.webp';
logo = '../images/logo.png';
logo-white = '../images/logo-white.png';