@import '_util/reset';
@import '_util/sweetalert/sweetalert.css';
@import '_util/font-awesome/font-awesome.min.css'
@import '_variables';
@import '_util/mixin';
@import '_partial/fonts';

global-reset();

html, body {
    font-family: font-default;
    height: 100%;
    width: 100%;
}

// Container
.container {
    @media mq-min1280 {
        margin: 0 auto;
        max-width: 1280px;
        padding: 0 15px;
    }

    @media mq-max1279 {
        margin: 0 auto;
        padding-left: 2%;
        padding-right: 2%;
        width: 96%;
    }
}

// Utils
.none {
    display: none;
}

@import '_partial/header';
@import '_partial/nav/nav-full';
@import '_partial/nav/nav-side';
@import '_partial/nav/icon-top';
@import '_partial/content/subbanner';
@import '_partial/content/storeparallax';
@import '_partial/content/store';
@import '_partial/content/aboutparallax';
@import '_partial/content/about';
@import '_partial/content/contactparallax';
@import '_partial/contact/contact';
@import '_partial/contact/form-contact';
@import '_partial/footer';