<!-- START HTML -->
<html itemscope
      itemtype="http://schema.org/WebPage"
      lang="pt-BR"
      prefix="og: http://ogp.me/ns#">
<%- partial('_partial/head') %>
<%- partial('_partial/content') %>
</html>
<!-- END HTML -->