// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
hide-text()
  text-indent: 100%
  white-space: nowrap
  overflow: hidden

absolute-center()
  left: 50%
  position: absolute;
  top: 50%
  transform: translate(-50%, -50%);

avoid-column-break()
  vendor("column-break-inside", avoid, only: webkit)
  page-break-inside: avoid // for firefox
  overflow: hidden // fix for firefox
  break-inside: avoid-column

$transition-duration(transition) {
  -webkit-transition-duration: transition;
  -moz-transition-duration: transition;
  -o-transition-duration: transition;
  transition-duration: transition;
}

$transform(transform) {
  -webkit-transform: transform;
  -moz-transform: transform;
  -ms-transform: transform;
  transform: transform;
}
$transform-origin(transform) {
  -webkit-transform-origin: transform;
  -moz-transform-origin: transform;
  -ms-transform-origin: transform;
  -o-transform-origin: transform;
  transform-origin: transform;
}

transition(transition, direction = all, style = ease-out) {
   -webkit-transition: direction transition style;
      -moz-transition: direction transition style;
        -o-transition: direction transition style;
           transition: direction transition style;
}

//transform-origin: center center 0px;
//transition: all 0.2s linear 0s;
//-webkit-transform-origin: center center 0px;
//-webkit-transition: all 0.2s linear 0s;

backgroundImage(filename, position = center, repeat = no-repeat, size = cover) {
  background: transparent url(imagepath/filename) repeat position;
  background-size: size;
}