// About
#about {
    > .container {
        > .about-content {
            align-items: initial;
            display: flex;

            @media mq-min1025 {
                flex-direction: row;
                height: 720px;
                padding-top: 130px;
            }

            @media mq-max1024 {
                flex-direction: column;
                padding: 30px 0;
            }

            > div {
                flex-grow: 0;

                &:nth-of-type(1) {
                    @media mq-min1025 {
                        &:after {
                            content: url('../images/folha_2.png');
                            left: 0px;
                            position: relative;
                            top: -160px;
                            z-index: 990;
                        }
                    }

                    > img {
                        @media mq-min1025 {
                            margin-right: 200px;
                        }

                        @media mq-max1024 {
                            margin: 0 auto;
                            max-width: 150px;
                        }
                    }
                }

                &:nth-of-type(2) {
                    flex-grow: 0;

                    @media mq-min1025 {
                        flex-basis: 320px;
                        margin-right: 110px;
                    }

                    @media mq-max1024 {
                        text-align: center;
                    }

                    > .title {
                        color: color-grey;

                        @media mq-min1025 {
                            font-size: 50px;
                            margin-bottom: 60px;
                        }

                        @media mq-max1024 {
                            font-size: 25px;
                            margin: 30px 0;
                        }
                    }

                    > p {
                        &:not(.title) {
                            color: color-grey;
                            line-height: 26px;

                            @media mq-min1200 {
                                font-size: 22px;
                            }

                            @media mq-max1199 {
                                font-size: 18px;
                                margin-bottom: 30px;
                            }

                            &:not(:last-of-type) {
                                @media mq-min1025 {
                                    margin-bottom: 45px;
                                }
                            }
                        }
                    }
                }

                &:nth-of-type(3) {
                    flex-grow: 0;

                    @media mq-min1025 {
                        flex-basis: 320px;
                    }

                    @media mq-max1024 {
                        text-align: center;
                    }

                    > .title {
                        color: color-grey;

                        @media mq-min1025 {
                            font-size: 50px;
                            margin-bottom: 60px;
                        }

                        @media mq-max1024 {
                            font-size: 25px;
                            margin: 30px 0;
                        }
                    }

                    > p {
                        &:not(.title) {
                            color: color-grey;
                            line-height: 26px;

                            @media mq-min1200 {
                                font-size: 22px;
                            }

                            @media mq-max1199 {
                                font-size: 18px;
                            }

                            &:not(:last-of-type) {
                                @media mq-min1025 {
                                    margin-bottom: 45px;
                                }

                                @media mq-max1024 {
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}