// About Parallax
#aboutparallax {
    backgroundImage('parallax_2.jpg');
    background-attachment: fixed;
    height: 560px;
    position: relative;

    @media mq-min1025 {
        &:after {
            bottom: 50px;
            content: url('../images/folha_1.png');
            left: 60%;
            position: relative;            
            z-index: 990;
        }
    }

    > .container {
        > .about-text {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 560px;
            justify-content: center;
            width: 100%;
            > h2 {
                color: color-white;
                @media mq-min768 {
                    font-size: 114px;
                }
                @media mq-max767 {
                    font-size: 80px;
                }
            }

            > h3 {
                color: color-brown2;
                font-size: 35px;
                text-transform: uppercase;
                @media mq-min768 {
                    font-size: 35px;
                    letter-spacing: 24px;
                    text-indent: 24px;
                }
                @media mq-max767 {
                    font-size: 28px;
                    letter-spacing: 16px;
                    text-indent: 16px;
                }
            }
        }
    }
}