// Contact Parallax
#contactparallax {
    backgroundImage('parallax_3.jpg');
    background-attachment: fixed;
    height: 560px;
    position: relative;

    > .container {
        > .contact-text {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 560px;
            justify-content: center;
            width: 100%;

            > h2 {
                color: color-white;

                @media mq-min768 {
                    font-size: 90px;
                }

                @media mq-max767 {
                    font-size: 80px;
                }
            }

            > p {
                color: color-white;
                line-height: 30px;
                text-align: center;

                @media mq-min768 {
                    font-size: 22px;
                    max-width: 450px;
                }

                @media mq-max767 {
                    font-size: 18px;
                }
            }

            > .social-media {
                @media mq-min768 {
                    margin-top: 80px;
                }

                @media mq-max767 {
                    margin-top: 15px;
                }

                > ul > li {
                    display: inline-block;

                    &:not(:last-of-type) {
                        margin-right: 20px;
                    }

                    > a {
                        background-color: transparent;
                        background: url('../images/sprite.png') no-repeat;
                        display: block;
                        position: relative;
                    }

                    &:nth-of-type(1) {
                        > a {
                            background-size: inherit;
                            background-position: -117px -42px;
                            height: 35px;
                            width: 35px;

                            &:hover::after {
                                opacity: 1;
                                transition(opacity 0.5s);
                            }
                        }

                        > a:after {
                            background: url('../images/sprite.png') -252px -42px no-repeat;
                            bottom: 0;
                            content: '';
                            left: 0;
                            opacity: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }

                    &:nth-of-type(2) {
                        > a {
                            background-size: inherit;
                            background-position: -162px -42px;
                            height: 35px;
                            width: 35px;

                            &:hover::after {
                                opacity: 1;
                                transition(opacity 0.5s);
                            }
                        }

                        > a:after {
                            background: url('../images/sprite.png') -297px -42px no-repeat;
                            bottom: 0;
                            content: '';
                            left: 0;
                            opacity: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            transition(opacity 0.5s);
                        }
                    }

                    &:nth-of-type(3) {
                        > a {
                            background-size: inherit;
                            background-position: -207px -42px;
                            height: 35px;
                            width: 35px;

                            &:hover::after {
                                opacity: 1;
                                transition(opacity 0.5s);
                            }
                        }

                        > a:after {
                            background: url('../images/sprite.png') -342px -42px no-repeat;
                            bottom: 0;
                            content: '';
                            left: 0;
                            opacity: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            transition(opacity 0.5s);
                        }
                    }
                }
            }
        }
    }
}