// Store
#store {
    > .container {
        > .store-content {
            align-items: center;
            display: flex;

            @media mq-min1025 {
                flex-direction: row;
                height: 720px;
            }

            @media mq-max1024 {
                flex-direction: column;
                padding: 30px 0;
            }

            > div {
                &:nth-of-type(1) {
                    flex-grow: 0;

                    @media mq-min1025 {
                        flex-basis: 292px;
                    }

                    @media mq-max1024 {
                        text-align: center;
                    }

                    > .title {
                        color: color-grey;

                        @media mq-min1025 {
                            font-size: 50px;
                            margin-bottom: 60px;
                        }

                        @media mq-max1024 {
                            font-size: 25px;
                            margin: 30px 0;
                        }
                    }

                    > p {
                        &:not(.title) {
                            color: color-grey;
                            line-height: 26px;

                            @media mq-min1025 {
                                font-size: 22px;
                            }

                            @media mq-max1024 {
                                font-size: 18px;
                            }

                            &:not(:last-of-type) {
                                @media mq-min1025 {
                                    margin-bottom: 45px;
                                }

                                @media mq-max1024 {
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                }

                &:nth-of-type(2) {
                    flex-grow: 316;

                    > img {
                        @media mq-min1025 {
                            float: right;
                            margin-top: 108px;
                        }

                        @media mq-max1024 {
                            margin-top: 30px;
                            max-width: 300px;
                        }
                    }
                }

                &:nth-of-type(3) {
                    flex-grow: 364;

                    @media mq-min1025 {
                        padding-left: 20px;
                    }

                    > .button {
                        background-color: color-brown;
                        border: 2px solid color-brown;
                        border-radius: 5px;
                        color: color-white;
                        display: block;
                        float: right;
                        text-align: center;
                        text-transform: uppercase;
                        width: 200px;

                        &:hover {
                            background-color: color-white;
                            color: color-brown;
                            transition: all 0.2s ease-out;
                        }

                        @media mq-min1025 {
                            font-size: 25px;
                            height: 50px;
                            line-height: 46px;
                            margin-top: 385px;
                        }

                        @media mq-max1024 {
                            font-size: 18px;
                            height: 40px;
                            line-height: 36px;
                            margin: 30px 0;
                        }
                    }
                }
            }
        }
    }
}
