// Store Parallax
#storeparallax {
    backgroundImage('parallax_1.jpg');
    background-attachment: fixed;
    height: 560px;
    position: relative;

    > .container {
        > .store-text {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 560px;
            justify-content: center;
            width: 100%;

            > h2 {
                color: color-white;

                @media mq-min768 {
                    font-size: 114px;
                }

                @media mq-max767 {
                    font-size: 80px;
                }
            }

            > h3 {
                color: color-brown2;
                text-transform: uppercase;

                @media mq-min768 {
                    font-size: 35px;
                    letter-spacing: 8px;
                    text-indent: 16px;
                }

                @media mq-max767 {
                    font-size: 28px;
                    letter-spacing: 4px;
                    text-indent: 4px;
                }
            }
        }
    }
}