subbanner// Sub Banner

#subbanner {
    > .container {
        > .subbanner {
            align-items: center;
            display: flex;
            overflow: hidden;

            @media mq-min768 {
                height: 580px;
            }

            @media mq-max767 {
                flex-direction: column;
                padding: 60px 0;
            }

            > .image-coffee {
                position: relative;

                &:before {
                    content: url('../images/gota.png');
                    position: absolute;
                    z-index: -1;

                    @media mq-min1025 {
                        left: 200px;
                        top: -143px;
                    }

                    @media mq-min768max1024 {
                        left: 190px;
                        top: -223px;
                    }

                    @media mq-max767 {
                        left: 120px;
                        top: -91px;
                    }
                }

                @media mq-min1025 {
                    float: left;
                    margin-left: 40x;
                }

                @media mq-min768max1024 {
                    float: left;
                    transform: scale(0.8);
                }

                @media mq-max767 {
                    margin: 30px 0 0;
                    max-width: 300px;
                }
            }

            > .text-subbanner {
                @media mq-min1025 {
                    float: right;
                    margin-left: 100px;
                    width: calc(100% - 624px);
                }

                @media mq-min768max1024 {
                    float: right;
                    width: calc(100% - 440px);
                }

                @media mq-max767 {
                    text-align: center;
                }

                > .title {
                    color: color-grey;

                    @media mq-min1025 {
                        font-size: 50px;
                        margin-bottom: 34px;
                    }

                    @media mq-max1024 {
                        font-size: 25px;
                        margin: 30px 0;
                    }
                }

                > p {
                    &:not(.title) {
                        color: color-grey;
                        line-height: 26px;

                        @media mq-min1025 {
                            font-size: 22px;
                        }

                        @media mq-min768max1024 {
                            font-size: 18px;
                        }

                        @media mq-max767 {
                            font-size: 18px;
                        }
                    }
                }

                > .button {
                    background-color: color-brown;
                    border: 2px solid color-brown;
                    border-radius: 5px;
                    color: color-white;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    width: 200px;

                    @media mq-min768 {
                        font-size: 25px;
                        float: right;
                        height: 50px;
                        line-height: 46px;
                        margin-top: 40px;
                    }

                    @media mq-max767 {
                        font-size: 18px;
                        height: 40px;
                        line-height: 36px;
                        margin: 0 auto;
                        margin-top: 30px;
                    }

                    &:hover {
                        background-color: color-white;
                        color: color-brown;
                        transition: all 0.2s ease-out;
                    }
                }
            }
        }
    }
}
a#link-subbanner[title="Clube do Café"] { display: none; }
div#subbanner { display: none; }