<div id="<%- site.data.menuAll.about.slug %>">
    <div class="container">
        <div class="about-content">
            <div>
                <img src="images/pacote_cafe.png" alt="Pacote Café" title="Pacote Café">
            </div>
            <div>
                <p class="font-bold title">Proporcionando experiências singulares</p>
                <p class="font-light">Há mais de 10 anos no mercado de cafés especiais, nossa história vem acontecendo com a necessidade de evoluir intensamente com produtos finos, e proporcionar experiências singulares aos paladares mais exigentes.</p>
                <p class="font-light">Aqui você pode alimentar suas experiências, ter seu momento e apreciar com qualidade extrema o que o mundo do café tem a oferecer.</p>
            </div>
            <div>
                <p class="font-light">Nossos grãos são criteriosamente selecionados por tamanho, densidade e ainda classificados eletronicamente e manualmente antes e após a torra, trazendo assim uma qualidade extremamente diferenciada.</p>
                <p class="font-light">Além de atuarmos diretamente com produtores, identificando as melhores safras e grãos, ainda oferecemos uma variedade de serviços, como consultoria para sua cafeteria ou treinamentos que podem aprimorar as habilidades da sua equipe e garantir que seus clientes sintam-se exclusivos, saboreando bebidas especias.</p>
                <p class="font-light">Venha fazer parte de nossa história, pois o protagonista é você!!!</p>
            </div>
        </div>
    </div>
</div>