<section id="<%- site.data.menuAll.aboutparallax.slug %>">
    <div class="container">
        <div class="about-text">
            <h2 class="font-mocha">Sobre a</h2>
            <h3 class="font-medium">Prelúdio</h3>
        </div>
    </div>
</section>