<% var social = site.data.social; %>

<section id="<%- site.data.menuAll.contactparallax.slug %>">
    <div class="container">
        <div class="contact-text">
            <h2 class="font-mocha">Contato</h2>
            <p class="font-light">Deixe-nos entender sua necessidade, utilize o fomulário abaixo para entrar em contato conosco e retornaremos o mais breve possível.</p>
            <div class="social-media">
                <ul>
                    <% for (var s in social) { %>
                        <li><a href="<%= social[s].link %>" title="<%= social[s].title %>" target="_blank"></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</section>