<div id="<%- site.data.menuAll.store.slug %>">
    <div class="container">
        <div class="store-content">
            <div>
                <p class="font-bold title">Tudo para o preparo do seu café</p>
                <p class="font-light">Cafés especiais, cafés gourmet, utensílios e todos os artigos que você precisa para preparar seu café nos mais variados métodos.</p>
                <p class="font-light">Aproveite também para acessar nosso menu de cursos e fique por dentro dos treinamentos especias com profissionais altamente qualificados.</p>
            </div>
            <div>
                <img src="images/produtos.png" alt="Produtos" title="Produtos">
            </div>
            <div>
                <a href="https://loja.preludiocafe.com.br/" target="_blank" title="Acesse nossa loja" class="font-medium button">Conheça a loja</a>
            </div>
        </div>
    </div>
</div>