<section id="<%- site.data.menuAll.storeparallax.slug %>">
    <div class="container">
        <div class="store-text">
            <h2 class="font-mocha">Nossa loja</h2>
            <h3 class="font-medium">Tudo para o seu café</h3>
        </div>
    </div>
</section>