<div id="<%- site.data.menuAll.subbanner.slug %>">
    <div class="container">
        <div class="subbanner">
            <div class="image-coffee">
                <%- partial('_partial/image/images', {
                    title: site.data.images.images_content.coffee.title,
                    path: site.data.images.images_content.coffee.path,
                    dataImage: site.data.images.images_content.coffee.image,
                    classImage: site.data.images.images_content.coffee.classImage
                }) %>
            </div>
            <div class="text-subbanner">
                <p class="font-bold title">Prelúdio Box, o seu Clube de Assinatura</p>
                <p class="font-light">
                    Seja surpreendido com novidades, faça agora mesmo sua assinatura mensal de nossos cafés finos. Escolha seu perfil e receba todos os meses uma uma seleção criada especialmente para você.
                </p>
                <a href="https://loja.preludiocafe.com.br/pagina/preludio-box" target="_blank" title="Você merece AGORA" class="font-medium button">Participe</a>
            </div>
        </div>
    </div>
</div>