@font-face {
    font-family: 'Mocha Mattari';
    src: url(font-mocha-path + '.ttf') format('truetype'),
         url(font-mocha-path + '.svg#MochaMattari') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINCond';
    src: url(font-dincond-path + 'Bold.ttf') format('truetype'),
         url(font-dincond-path + 'Bold.svg#DINCond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINCond';
    src: url(font-dincond-path + 'Light.ttf') format('truetype'),
         url(font-dincond-path + 'Light.svg#DINCond-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINCond';
    src: url(font-dincond-path + 'Medium.ttf') format('truetype'),
         url(font-dincond-path + 'Medium.svg#DINCond-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

.font-mocha {
  font-family: font-mocha
}

.font-bold {
  font-family: font-default;
  font-weight: bold;
}

.font-light {
  font-family: font-default;
  font-weight: 300;
}

.font-medium {
  font-family: font-default;
  font-weight: 500;
}