// Footer
#footer {
    background-color: color-white2;

    .footer-box {
        margin: 0 auto;
        max-width: 690px;
        min-height: 100px;
        padding: 34px 15px 20px;

        > p {
            color: color-grey4;
            font-size: 16px;
            text-align: center;

            > a {
                color: color-black;
            }
        }

        > .link {
            display: block;

            > img {
                border-radius: 2px;
                filter: brightness(0.2) invert(0);
                height: 30px;
                margin: 20px auto 0;
            }
        }
    }
}