// Header

#header {
    background-color: transparent;
    backgroundImage('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;

    > .title-header {
        absolute-center();
        max-width: 350px;
        text-align: center;

        > h2 {
            margin-bottom: 20px;
            text-transform: uppercase;

            @media mq-min768 {
                font-size: 40px;
                letter-spacing: 7px;
            }

            @media mq-max767 {
                font-size: 30px;
            }
        }

        > h3 {
            @media mq-min768 {
                font-size: 200px;
            }

            @media mq-max767 {
                font-size: 130px;
            }
        }
    }
}