// Contact
#contact {
    > .container {
        > .contact-box {
            clear: both;
            display: table;
            height: 540px;
            width: 100%;

            @media mq-max1024 {
                padding: 30px 0;
            }

            > .form {
                @media mq-min1025 {
                    float: left;
                    margin-left: 70px;
                    padding-top: 60px;
                    width: calc(100% - 440px);
                }

                > #form-contact {
                    > .form-contact__box {
                        > label {
                            display: none;
                        }
                    }
                }
            }

            > .contact-info {
                @media mq-min1025 {
                    float: right;
                    margin-right: 130px;
                    padding-top: 85px;
                    text-align: right;
                    width: 200px;
                }

                @media mq-max1024 {
                    margin: 0 auto;
                    max-width: 260px;
                    text-align: center;
                }

                > .info-title {
                    color: color-grey;
                    display: block;
                    font-size: 22px;
                    margin-bottom: 2px;
                }

                > .info-content {
                    color: color-brown2;
                    font-size: 22px;
                }

                > .phone {
                    @media mq-min1025 {
                        margin-bottom: 40px;
                    }

                    @media mq-max1024 {
                        margin-bottom: 30px;
                    }
                }

                > .info-text {
                    color: color-grey;
                    font-size: 18px;
                    line-height: 24px;

                    @media mq-min1025 {
                        margin-top: 87px;
                    }

                    @media mq-max1024 {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}