#form-contact {
    @media mq-min1025 {
        max-width: 609px;
    }

    @media mq-max1024 {
        margin: 0 auto;
        max-width: 260px;
    }

    input#pagesms {
        display: none;
    }

    input, textarea {
        $transition-duration(0.4s);
        background-color: transparent;
        border-bottom: 1px solid color-grey2;
        border-left: 0;
        border-radius: 0px;
        border-right: 0;
        border-top: 0;
        box-shadow: 0 2px transparent;
        box-shadow: none;
        color: color-grey;
        display: block;
        font-family: DINCond;
        font-size: 22px;
        font-weight: 300;
        line-height: 22px;
        min-height: 44px;
        padding: 12px 15px 12px 0;
        position: relative;
        width: 100%;

        &:focus {
            box-shadow: 0 2px color-grey2;
            transition-property: right;
            outline: none;
        }
    }

    input {
        margin-bottom: 30px;
    }

    input.group {
        display: inline-block;

        @media mq-min1155 {
            width: 290px;
        }

        @media mq-max1154 {
            width: 100%;
        }

        &[type='tel'] {
            margin-right: 28px;
        }
    }

    #send {
        background-color: color-brown;
        border: 2px solid color-brown;
        border-radius: 5px;
        color: color-white;
        cursor: pointer;
        font-weight: 500;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        width: 200px;

        &:hover {
            background-color: color-white;
            color: color-brown;
            transition: all 0.2s ease-out;
        }

        &:focus {
            box-shadow: 0 0;
            transition-property: right;
            outline: none;
        }

        @media mq-min1025 {
            float: right;
            font-size: 25px;
            height: 50px;
            line-height: 46px;
        }

        @media mq-max1024 {
            font-size: 20px;
            height: 40px;
            line-height: 36px;
            margin: 30px 0;
            width: 100%;
        }
    }

    ::-webkit-input-placeholder {
        color-grey;
    }

    ::-moz-placeholder {
        color-grey;
    }

    :-moz-placeholder {
        color-grey;
    }

    ::-ms-input-placeholder {
        color-grey;
    }

    :-ms-input-placeholder {
        color-grey;
    }

    .btn-modal {
        min-height: 65px;
    }
}