// Icon Back to Top
#icon-back-top {
    background-color: color-brown3;
    border: 2px solid color-white;
    border-radius: 4px;
    bottom: 0;
    color: color-white;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 26px;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 95%;    
    transform: translate(-50%, -50%);
    transition(0.3s);
    visibility: visible;
    width: 30px;
    z-index: -1;

    @media mq-min768 {
        left: 96%;
    }

    @media mq-max767 {
        left: 94%;
    }

    &:hover {
        transition: all 0.4s ease-out;
        background-color: color-brown;
    }
}

.show {
    opacity: 1 !important;
    z-index: 990 !important;
}