// Navside
.overlay {
    background-color: color-black-opacity;
    height: 100%;
    position: fixed;
    right: 0;
    transition: 1.2s all cubic-bezier(0.91, 0.005, 0.07, 1);
    transition-timing-function: cubic-bezier(0.91, 0.005, 0.07, 1);
    width: 0;
    z-index: 999;

    > .nav-side__container {
        background-color: color-white-opacity;
        height: 100%;
        overflow: hidden;
        position: absolute;
        right: 0;
        transition: 1.2s all cubic-bezier(0.91, 0.005, 0.07, 1);
        transition-timing-function: cubic-bezier(0.91, 0.005, 0.07, 1);
        width: 0;
        z-index: 999;

        > .nav-side__content {
            @media mq-min768 {
                margin-left: 44px;
            }

            @media mq-max767 {
                margin: 0 auto;
                max-width: 300px;
                text-align: center;
            }

            > .icon-menu-close {
                cursor: pointer;                
                height: 26px;
                position: absolute;
                right: 50px;
                top: 60px;
                width: 35px;
                z-index: 999;

                > span {
                    background-color: color-black;
                    border-radius: 10px;
                    height: 2px;
                    position: absolute;
                    width: 100%;

                    &:nth-of-type(1) {
                        top: 12px;
                        transform: rotate(45deg);
                    }

                    &:nth-of-type(2) {
                        top: 12px;
                        transform: rotate(-45deg);
                    }
                }
            }

            > #ul-nav__side {
                padding-top: 125px;

                > li {
                    @media mq-min768 {
                        margin-bottom: 30px;
                    }

                    @media mq-max767 {
                        margin-bottom: 20px;
                    }

                    > .nav-link {
                        > .text_side {
                            color: color-black;
                            cursor: pointer;
                            text-transform: uppercase;

                            @media mq-min768 {
                                font-size: 35px;
                            }

                            @media mq-max767 {
                                font-size: 22px;
                            }

                            &:hover {
                                color: color-brown2;
                                transition(0.4s);
                            }
                        }
                    }
                }
            }

            > .nav_text {
                color: color-black;
                font-size: 16px;
                line-height: 24px;

                @media mq-max767 {
                    display: none;
                }
            }

            > .socia-media-menu {
                @media mq-min768 {
                    margin-top: 70px;
                }

                @media mq-max767 {
                    margin-top: 30px;
                }

                ul > li {
                    display: inline-block;

                    &:not(:last-of-type) {
                        margin-right: 12px;
                    }

                    > a {
                        background-color: color-brown3;
                        border-radius: 50%;
                        color: color-white-opacity;
                        font-size: 16px;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                        width: 28px;

                        &:hover {
                            background-color: color-black;
                            transition(0.4s);
                        }
                    }
                }
            }
        }
    }
}