// Nav Full
.nav-full {
    position: fixed;
    transition(0.3s);
    width: 100%;
    z-index: 998;

    @media mq-min768 {
        padding: 40px 50px;
    }

    @media mq-max767 {
        padding: 20px 25px;
    }

    > .semantic {
        align-items: center;
        display: flex;

        > div {
            flex-grow: 1;
        }

        > div.logo {
            > a {
                display: block;

                @media mq-min768 {
                    height: 65px;
                    width: 207px;
                }

                @media mq-max767 {
                    height: 40px;
                    width: 127px;
                }
            }
        }
    }

    &.black {
        background-color: color-black;
        padding: 10px 50px;

        > .semantic {
            > div.logo > a {
                height: 40px;
                width: 127px;
            }

            > div.menu > #icon-menu {
                height: 20px;
                width: 29px;

                > span {
                    &:nth-child(2) {
                        top: 9px;
                    }

                    &:nth-child(3) {
                        top: 18px;
                    }
                }
            }
        }
    }
}

#icon-menu {
    cursor: pointer;
    float: right;
    height: 26px;
    position: relative;
    transition(0.5s);
    width: 35px;
    z-index: 998;

    > span {
        background-color: color-white;
        border-radius: 10px;
        height: 2px;
        position: absolute;
        transition: all 0.3s linear;
        width: 100%;

        &:nth-child(2) {
            top: 12px;
            width: 80%;
        }

        &:nth-child(3) {
            top: 24px;
        }
    }
}

.opened {
    #icon-menu {
        opacity: 0;
    }
}