<div id="<%- site.data.menuAll.contact.slug %>">
    <div class="container">
        <div class="contact-box">
            <div class="form">
                <%- partial('_partial/contact/form-contact') %>
            </div>
            <div class="contact-info">
                <!--<span class="font-medium info-title">Telefone</span>-->
                <!--<p class="font-light info-content phone">+55 (43) 3056-1440</p>-->
                <span class="font-medium info-title">E-mail</span>
                <p class="font-light info-content">sac@preludiocafe.com.br</p>
                <p class="font-light info-text">Prelúdio Cafés especiais, cafés gourmet, utensílios, cursos e tudo que você precisa para preparar seu café nos mais variados métodos.</p>
            </div>
        </div>
    </div>
</div>