<% var dataFormContact = site.data.formContact.index %>

<form id="form-contact">
    <div class="form-contact__box">
        <%
        var html = "";
        if (dataFormContact.inputs) {
            inputs = dataFormContact.inputs;
            for (var i in inputs) {
                var required = inputs[i].required && inputs[i].required == true ? "required" : "";
                var group = inputs[i].group && inputs[i].group == true ? "class='group'" : "";
                html +=
                '<input type="' + inputs[i].type + '" id="' + inputs[i].id + '" '+ group +' name="' + inputs[i].id + '" placeholder="' + inputs[i].name + '" maxlength="' + inputs[i].maxlength + '" ' + required + '/>';                                             
            }
        }
        %>
        <%- html%>
    </div>
    <input type="submit" 
           id="send" 
           form="form-contact"            
           value="<%= dataFormContact.btnTitle %>" />        
</form>